    /* breakpoints */
    
     :root {
        --tablet-screen: 480px;
        --desktop-screen: 768px;
        --desktop-lg-screen: 1024px;
        /* colours */
        --green: #112012;
        --red: #bf2e27;
    }
    
    .hidden {
        display: none;
    }
    
    #container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    
    header {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    
    #mainNav {
        display: flex;
        justify-content: space-between;
        background-color: var(--green);
        height: 82px;
        padding: 0 20px;
        align-items: center;
    }
    
    .navList {
        display: none;
    }
    
    #logo {
        height: auto;
        width: 121px;
    }
    
    .menuBtn {
        background: none;
        border: none;
    }
    
    @media (min-width: 768px) {
        .navList {
            display: flex;
            flex-direction: space;
        }
        .menuBtn {
            display: none;
        }
    }